:root {
  --border: 1px solid #ccc;
  --border-radius: 5px;

  --color-error: #cd535b;
  --color-placeholder: #8690daa3;
  --color-success: #1ec198;
  --color-warning: #cea716;

  --font-family: Montserrat, tahoma, verdana, sans-serif;
  --icon-size: 35px;

  --main-background-color: #6874d0;

  --spacing-size-a: 5px;
  --spacing-size-b: 10px;
  --spacing-size-c: 15px;
  --spacing-size-d: 20px;
  --spacing-size-e: 30px;
}

/* ----------- Desktop Screens ----------- */
@media screen and (min-width: 1200px) {
  :root {
    --font-size-sm: 12px;
    --font-size-m: 17px;
    --font-size-l: 21px;
    --font-size-title: 36px;
  }
}

/* ----------- Tablet Screens ----------- */
@media only screen and (min-width: 768px) and (max-width: 1200px) {
  :root {
    --font-size-sm: 10px;
    --font-size-m: 14px;
    --font-size-l: 19px;
    --font-size-title: 28px;
  }
}

/* ----------- Mobile Screens ----------- */
@media only screen and (max-width: 768px) {
  :root {
    --font-size-sm: 10px;
    --font-size-m: 12px;
    --font-size-l: 17px;
    --font-size-title: 22px;
  }
}
