#login-page {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#login-form-container {
  --login-form-margin-top: 120px;
  --login-form-width: 420px;
  --login-form-height: 380px;

  align-items: center;
  background: #8690da;
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  height: var(--login-form-height);
  justify-content: center;
  margin-top: var(--login-form-margin-top);
  width: var(--login-form-width);
}

h1#title {
  color: white;
  font-size: var(--font-size-l);
}

#login-form {
  width: 85%;
}

.submit-button {
  background: var(--color-success);
  border: none;
  border-radius: var(--border-radius);
  color: white;
  cursor: pointer;
  margin: var(--spacing-size-d) 0 0 0;
  padding: var(--spacing-size-c);
  width: 100%;
}
