#login-page {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#login-form {
  align-items: center;
  background: #8690da;
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 150px;
  width: 300px;
  height: 250px;
}

#login-form > div {
  margin: var(--spacing-size-a);
}

#login-form > div > input {
}
